<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="welcome">
            <h1 class="cafe-name">Jah's Café</h1>
        <span class="lime">Live | </span><span class="yellow">Love | </span><span class="redish">Laugh</span><br><br>


        <h1>Welcome Waiter</h1>
        <h2>Please enter your name in the URL</h2>
        <span class="example">e.g. http://infinite-citadel-37920.herokuapp.com/waiters/yourname and press enter</span>
    </div>
</body>
</html>