/* general */

body {
    font-family: 'Lora', serif;
    padding: 1em;
}

a {
    text-decoration: none;
    color: #000000;
}

.top {
    text-align: center;
    margin: 1em;
}

.fa {
    margin: 0.5em;
}

.box {
    display: inline-block;
}

.admin-div {
    text-align: center;
}

.container {
    text-align: center;
}

.check {
    height: 1.5em;
    width: 1.5em;
}

.label {
    font-size: x-large;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    padding: 1em;
    font-size: x-large;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
}

ul {
    list-style: none;
}

.cafe-name {
    color: gold;
    font-family: "Playfair Display", serif;
}

.home-page {
    text-align: center;
    border-style: double;
    padding: 1em;
}

.name {
    color: #00cc00;
    font-size: 2em;
    font-family: 'Grenze Gotisch', cursive;
}

.msg {
    color: #00cc00;
    font-size: 1.5em;
    font-weight: 100;
}

.error {
    color: #ff1a1a;
    font-size: 1.5em;
    font-weight: 100;
}

.waiters {
    font-size: x-large;
}

.x,
p {
    color: #ff1a1a;
}


/* Buttons */

.homeBtn {
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: white;
    color: black;
}

.homeBtn:hover {
    background-color: gold;
}

.index {
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: white;
    color: black;
}

.index:hover {
    background-color: gold;
}

.submitBtn {
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    background-color: white;
    color: black;
}

.submitBtn:hover {
    background-color: gold;
}

.btn-admin {
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    background-color: white;
    color: black;
}

.btn-admin:hover {
    background-color: gold;
}


/* Day Colors */

.green,
.lime {
    background-color: #1aff1a;
}

.red,
.redish {
    background-color: #ff1a1a;
}

.gold,
.yellow {
    background-color: gold;
}


/* span colors */